<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Status Checker{% endblock %}</title>
    <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    {% block stylesheets %}{% endblock %}
</head>
<body>
<nav
        class="navbar navbar-expand-lg navbar-light bg-light"
        style="height: 70px;"
>
    <img src="https://syngeos.pl/wp-content/themes/syngeos/assets/images/logo-syngeos.png" alt="logo syngeos" class="mr-3">
    <a class="navbar-brand" href="#"><b>Status Checker</b></a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent"></div>
    <ul class="nav navbar-nav navbar-right">
        {% if app.user %}
            <li><a class="nav-link" href="{{ path('app_notification') }}">View Notification List</a></li>
            <li><a class="nav-link" href="{{ path('app_logout') }}">Logout</a></li>
        {% elseif not app.user %}
            <li><a class="nav-link" href="{{ path('app_login') }}">Login</a></li>
            <li>
                <a class="nav-link" href="{{ path('app_registration') }}">Register</a>
            </li>
        {% endif %}
    </ul>
</nav>
{% block body %}{% endblock %} {% block javascripts %}{% endblock %}
</body>
</html>
